<nav class="sidebar sidebar-offcanvas" id="sidebar">
  <ul class="nav">

    <li class="nav-item nav-category">UI Elements</li>

    <li class="nav-item">
      <a class="nav-link" data-bs-toggle="collapse" href="#gestion-etudiants" aria-expanded="false" aria-controls="gestion-etudiants">
        <i class="menu-icon mdi mdi-floor-plan"></i>
        <span class="menu-title">Gestion Etudiants</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="gestion-etudiants">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" href="student_add.php">Ajouter Etudiant</a></li>
          <li class="nav-item"> <a class="nav-link" href="list_etudiant.php">Modifier Etudiant</a>
          </li>
        </ul>
      </div>
    </li>

    <li class="nav-item">
      <a class="nav-link" data-bs-toggle="collapse" href="#getion_notes" aria-expanded="false" aria-controls="getion_notes">
        <i class="menu-icon mdi mdi-floor-plan"></i>
        <span class="menu-title">Gestion Notes</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="getion_notes">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" href="note_add.php">Ajouter Note</a></li>
          <li class="nav-item"> <a class="nav-link" href="list_notes.php">Modifier Note</a></li>
        </ul>
      </div>
    </li>

    <li class="nav-item">
      <a class="nav-link" data-bs-toggle="collapse" href="#getion_evenement" aria-expanded="false" aria-controls="getion_evenement">
        <i class="menu-icon mdi mdi-floor-plan"></i>
        <span class="menu-title">Gestion Evenement</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="getion_evenement">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" href="eventAdd.php">Ajouter Evenement</a></li>
          <li class="nav-item"> <a class="nav-link" href="event.php">Modifier Evenement</a>
          </li>
        </ul>
      </div>
    </li>

    <li class="nav-item">
      <a class="nav-link" data-bs-toggle="collapse" href="#getion_module" aria-expanded="false" aria-controls="getion_module">
        <i class="menu-icon mdi mdi-floor-plan"></i>
        <span class="menu-title">Gestion Modules</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="getion_module">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" href="ModulesAdd.php">Ajouter Modules</a></li>
          <li class="nav-item"> <a class="nav-link" href="Modules.php">Modifier Modules</a>
          </li>
        </ul>
      </div>
    </li>

    <li class="nav-item">
      <a class="nav-link" data-bs-toggle="collapse" href="#getion_emplois" aria-expanded="false" aria-controls="getion_emplois">
        <i class="menu-icon mdi mdi-floor-plan"></i>
        <span class="menu-title">Gestion Emplois</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="getion_emplois">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" href="emplois_add.php">Ajouter Emplois</a></li>
          <li class="nav-item"> <a class="nav-link" href="list_emplois.php">Modifier Emplois</a>
          </li>
        </ul>
      </div>
    </li>

  </ul>
</nav>