<nav class="sidebar sidebar-offcanvas" id="sidebar">
        <ul class="nav">
           
          <li class="nav-item nav-category">UI Elements</li>
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
              <i class="menu-icon mdi mdi-floor-plan"></i>
              <span class="menu-title">Gestion Etudiants</span>
              <i class="menu-arrow"></i> 
            </a>
            <div class="collapse" id="ui-basic">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href=/ENSAISD/admin_crud/student_add.php>Ajouter Etudiants</a></li>
                <li class="nav-item"> <a class="nav-link" href="/ENSAISD/admin_crud/list_etudiant.php">Modifier Etudiant</a></li>
              </ul>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
              <i class="menu-icon mdi mdi-floor-plan"></i>
              <span class="menu-title">Gestion Notes</span>
              <i class="menu-arrow"></i> 
            </a>
            <div class="collapse" id="ui-basic">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href=/ENSAISD/admin_crud/list_notes.php>Tous les Notes</a></li>
              </ul>
            </div>
          </li>
          </ul>
      </nav>